<header>
		<div class="container">
			<div class="logo">
				<h1>College Tour Planner</h1>
			</div>
			<nav class="nav-main">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/signup">Sign Up</a></li>
					<li><a href="/login">Log In</a></li>
					<li><a href="/colleges">Colleges</a></li>
					<li><a href="/logout">Logout</a></li>
				
				</ul>
			</nav>
		</div><!--.container-->
	</header>

<div class="banner"></div>
<div class="container">
	<div class="feature">
		<!-- <a href="/signup"><button>Sign Up</button></a> -->
<!-- 		<p>or</p> -->
	<!-- 	<a href="/login"><button>Log In</button></a> -->
	</div>
</div>




