<!DOCTYPE html>
<html>
<head>
	<title>College Visit Planner</title>
			<meta name="Description" content="Sinatra app to learn about colleges and organize college visits">
			<meta name="Keywords" content="college tours">
			<link rel="stylesheet" type="text/css" href="/style.css">
			<link href='https://fonts.googleapis.com/css?family=Amatic+SC' rel='stylesheet' type='text/css'>
			<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
</head>
<body>


<%= yield %>

</body>
</html>